In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather.csv')

In [ ]:
df

In [ ]:
first3 = df.head(3)

In [ ]:
print(first3)

In [ ]:
df.tail(10)

In [ ]:
df.drop(1)

In [ ]:
bdf.filter(like='.1',axis=1)

In [ ]:

# 条件に合致する列の列番号を取得
filtered_col_indices = [i for i, col in df.columns if '.1' in col or '.2' in col]
filtered_col_indices
# # 列番号に対応する列を削除
# df.drop(df.columns[filtered_col_indices], axis=1, inplace=True)

# # 結果の表示
# df

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.index.tolist()

In [ ]:
df.loc[5:10]

In [ ]:
df.iloc[:,3:6]

In [4]:
df2 = pd.read_csv('people.csv')
df2

   age  id      name nationality
0   26  13  Imanishi       Japan
1   21  33      Mike     America
2   35  31    Suzuki       Japan
3   16  20      John     America
4   28  11       Kim       Korea

In [ ]:
df2[df2['nationality']=='America']

In [ ]:
df2[(df2['age']>=20)&(df2['age']<30)]

In [ ]:
df2

In [ ]:
unique_values_col_A = df2['age'].unique()
unique_values_col_b = df2['id'].unique()
unique_values_col_c = df2['name'].unique()
unique_values_col_A

In [ ]:
unique_values_col_b

In [ ]:
unique_values_col_c

In [ ]:
df2

In [ ]:
df2.drop_duplicates(subset='nationality')

In [ ]:
df2.columns = ['年齢','id','名前','国籍']

In [ ]:
df2

In [ ]:
df.sort_values('最高気温(℃)',ascending=False)

In [ ]:
df2

In [ ]:
df2['nationality'].unique()

In [ ]:
pd.get_dummies(df2,columns=['nationality'])

In [ ]:
df.isnull()

In [ ]:
df

In [ ]:
df.fillna(0)

In [ ]:
df.dropna(axis=1)

In [5]:
df3 = pd.read_csv('iris.csv')
df3

     sepal-length  sepal-width  petal-length  petal-width            Class
0             5.1          3.5           1.4          0.2      Iris-setosa
1             4.9          3.0           1.4          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
4             5.0          3.6           1.4          0.2      Iris-setosa
..            ...          ...           ...          ...              ...
151          12.5          3.1           5.1          1.8   Iris-virginica
152          13.4          2.7           5.1          1.8   Iris-virginica
153          13.2          3.2           5.1          1.8  Iris-versicolor
154          15.2          2.3           5.1          1.8  Iris-versicolor
155          14.2          2.4           5.1          1.8  Iris-versicolor

[156 rows x 5 columns]

In [ ]:
class_u = df3['Class'].unique()
class_u

In [ ]:
df3['Class'].value_counts()

In [ ]:
df3.groupby('Class').mean()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.std()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
import matplotlib.pyplot as plt
df

In [ ]:
df[:50].plot(x='年月日',y=['平均気温(℃)','最高気温(℃)','最低気温(℃)'],legend=False)

In [6]:
df.columns

Index(['年月日', '平均気温(℃)', '平均気温(℃).1', '平均気温(℃).2', '最高気温(℃)', '最高気温(℃).1',
       '最高気温(℃).2', '最低気温(℃)', '最低気温(℃).1', '最低気温(℃).2', '降水量の合計(mm)',
       '降水量の合計(mm).1', '降水量の合計(mm).2', '最深積雪(cm)', '最深積雪(cm).1', '最深積雪(cm).2',
       '平均雲量(10分比)', '平均雲量(10分比).1', '平均雲量(10分比).2', '平均蒸気圧(hPa)',
       '平均蒸気圧(hPa).1', '平均蒸気圧(hPa).2', '平均風速(m/s)', '平均風速(m/s).1',
       '平均風速(m/s).2', '日照時間(時間)', '日照時間(時間).1', '日照時間(時間).2'],
      dtype='object')

In [8]:
df[['平均気温(℃)','降水量の合計(mm)','日照時間(時間)']].corr()

             平均気温(℃)  降水量の合計(mm)  日照時間(時間)
平均気温(℃)     1.000000    0.027858  0.071758
降水量の合計(mm)  0.027858    1.000000 -0.367911
日照時間(時間)    0.071758   -0.367911  1.000000

In [10]:
df.fillna(0).to_csv('export.csv',index=False)